In [34]:
PATHTOFILE_AS = r"data\input\articles.tsv"
PATHFILE_CU = r"data\input\consumer_units.tsv"
PATHFILE_TZ = r"data\input\temperature_zone.tsv"
PATHFILE_TU = r"data\input\trade_units.tsv"
PATHFILE_WMS = r"data\output\wms_load.tsv"

In [13]:
import pandas as pd
import aiofiles
from aiocsv import AsyncReader, AsyncDictReader, AsyncWriter, AsyncDictWriter

In [15]:
async with aiofiles.open(PATHTOFILE, mode="r", encoding="utf-8", newline="") as afp:
        async for row in AsyncDictReader(afp, delimiter="\t"):
            print(row)  # row is a dict

TypeError: "delimiter" must be a 1-character string

In [23]:
df_assortiment = pd.read_csv(PATHTOFILE_AS, 
                             sep='\t+', 
                             engine='python')
df_cu = pd.read_csv(PATHFILE_CU, 
                    sep='\t+', 
                    engine='python')
df_tz = pd.read_csv(PATHFILE_TZ, 
                    sep='\t+', 
                    engine='python')
df_tu = pd.read_csv(PATHFILE_TU, 
                    sep='\t+', 
                    engine='python')

In [30]:
df_assortiment.head(2)

,id,description,product_type,netto_content,unit_of_measure,brutto_weight,length,depth,height,assortm_code
0,833327,WIJN V.H. VAT ROUGE,0200 Wijnen rood,1000,ML,2,NaN,NaN,NaN,NaN
1,834577,WIJN V.H. VAT BLANC DEMI SEC,0201 Wijnen wit,1000,ML,2,NaN,NaN,NaN,NaN

In [31]:
df_cu.head(2)

      sku  primary  consumer_unit_ean
0  190787        0   1077049141584929
1  191017        0   1077049441675464

In [32]:
df_tz.head(2)

                  group temperature_zone
0  0010 Suikerprodukten          ambient
1      0011 Zoetstoffen          ambient

In [33]:
df_tu.head(2)

,sku,weight,length,depth,height,trade_unit_ean,location,consumer_units_in_trade_unit
0,195498,0.0,0,0,90,1077045841601911,1005,16
1,195498,2.1,232,211,171,1077056341096084,1005,20

In [35]:
df_wms = pd.read_csv(PATHFILE_WMS, 
                    sep='\t+', 
                    engine='python')

In [36]:
df_wms

Empty DataFrame
Columns: [own_sku, ean_list, content, content_unit, description, temperature_zone, shelf_life, volume_mm3, brutto_weight, brutto_weight_unit]
Index: []